

.task-card
  width: 240px
  margin-bottom: 20px
  padding: 20px 40px
  border: 1px solid #5843BE
  box-sizing: border-box
  border-radius: 10px
  color: #5843BE

.task-title
  font-weight: 600
  font-size: 18px
  line-height: 20px
  margin-bottom: 10px
  height: 40px
  overflow: hidden
  text-overflow: ellipsis

.task-description
  font-size: 10px
  line-height: 15px
  height: 30px
  margin-bottom: 10px
  overflow: hidden
  text-overflow: ellipsis